<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<title>POKEMON</title>

 <link rel="shortcut icon" href="http://assets.pokemon.com/static2/_ui/img/favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/app.css">




  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




   
	
	</head>
	<body>

<nav class="navbar navbar-inverse">
 
<div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/">Home</a></li>
  <li role="presentation" ><a href="/app">Pokemon Movies</a></li>
  <li role="presentation" ><a href="/miko">Gabriel Miko Lunay</a></li>

</ul>

</div></div></nav>



</div>


<center>

<div style="background-image: url(img/ddd.jpg);" class="jumbotron">
  <h1><font color ="white">Hellow Pokemon Lover's</h1>
  <p>Pokémon is a media franchise managed by The Pokémon Company, a Japanese consortium between Nintendo, Game Freak, and Creatures. The franchise copyright is shared by all three companies, but Nintendo is the sole owner of the trademark.</p></font>
  
</div></center>
<div class="horizontal">
  <div class="col-sm-6 col-md-4">
    <div  style="background-color: black"; class="thumbnail">
      <a href="https://kissanime.io/Anime/Pokemon-The-First-Movie-Mewtwo-Strikes-Back-Sub/Movie?id=124395"><img src="img/0.jpg"></a>
      <div class="caption">
        <h3> Mewtwo Strikes</h3>
        <p>Pokémon: The First Movie: Mewtwo Strikes Back, commonly referred to as Pokémon: The First Movie, originally released as Pocket Monsters the Movie: Mewtwo Strikes Back! (劇場版ポケットモンスター ミュウツーの逆襲 Gekijōban Poketto Monsutā: Myūtsū no Gyakushū?), is a 1998 Japanese anime film[2] directed by Kunihiko Yuyama, the chief director of the Pokémon television series. It is the first theatrical release in the Pokémon franchise.

It was released in Japan on July 18, 1998. The English-language adaptation, produced by Nintendo and 4Kids Entertainment, was released in North America by Warner Bros. on November 10, 1999.

The film primarily consists of three segments: Pikachu's Vacation, a 21-minute feature focusing on the series mascot Pikachu;  </p>
        
        <div class="horizontal">
         </div>
    </div>
  </div>
</div>
  <div class="col-sm-6 col-md-4">
    <div style="background-color: black"; class="thumbnail">
      <a href="https://kissanime.io/Anime/Pokemon-Maboroshi-no-Pokemon-Lugia-Bakutan/Movie?id=127802"><img src="img/2000.jpg"></a>
      <div class="caption">
        <h3>Pokemon: The Movie 2000</h3>
        <p>Pokémon: The Movie 2000: The Power of One, commonly referred to as Pokémon 2000, originally released in Japan as Pocket Monsters the Movie: Revelation Lugia (劇場版ポケットモンスター 幻のポケモン ルギア爆誕 Gekijōban Poketto Monsutā Maboroshi no Pokemon Rugia Bakutan?, lit. "Mirage Pokémon: Lugia's Explosive Birth"), is a 1999 Japanese anime science fiction action film directed by Kunihiko Yuyama as the second Pokémon feature-length film, complementing the Orange Islands saga of the series and featuring several new Pokémon, including Lugia and Slowking. Brock, who temporarily left during the season on which the film is based, makes a cameo appearance trying to protect the Pokémon in Professor Ivy's lab.

 </p>
         </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div style="background-color: black"; class="thumbnail">
      <a href="https://kissanime.io/Anime/Pokemon-4Ever-Dub/Movie?id=33988"><img src="img/ever.jpg"></a>
      <div class="caption">
        <h3>Pokemon 4ever</h3>
        <p>Pokémon 4Ever: Celebi - Voice of the Forest, commonly referred to as Pokémon 4Ever, originally released in Japan as Pocket Monsters the Movie: Celebi A Timeless Encounter (劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい） Gekijōban Poketto Monsutā Serebyi Toki o Koeta Deai?, lit. "Celebi: The Meeting that Traversed Time"), is a 2001 Japanese anime film directed by Kunihiko Yuyama and based on the television series Pokémon. It is the fourth official Pokémon film and the last one to receive a theatrical release in North America. </p>
         </div>
    </div>
  </div>
</div>

<audio autoplay>

  <source src="img/Pokémon Theme Song.ogg" type="audio/ogg">

  <source src="img/Pokémon Theme Song.mp3" type="audio/mpeg">

</audio>

<footer>

<center>

<marquee><p>Copyright: 2016-2017</p></marquee>

</footer></center>


</body>
</html>