<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<title>POKEMON</title>

 <link rel="shortcut icon" href="http://assets.pokemon.com/static2/_ui/img/favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/app.css">




  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




   
	
	</head>
	<body>

<nav class="navbar navbar-inverse">
 
<div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/">Home</a></li>
  <li role="presentation" ><a href="/app">Pokemon Movies</a></li>
  

</ul>

</div></div></nav>
<center>
<br>
<marquee direction="up">POKEMON</marquee>
<h1>Gabriel Miko R. Lunay BSIT-2B</h1></br>
 <div style="background-color: black"; class="thumbnail">
<br><h1>Movie: Pokemon</h1></br>
<p>The idea of Pokemon came from Satoshi Tajiri, who wanted to share his love of catching insects with others. Together with Ken Sugimori, Tajiri founded Game Freak, creating the first concept of Pokemon, then known as “Capsule Monsters.” The idea was to create a game based around collecting, training, trading, and battling captured monsters using the Game Boy’s link cable. Tajiri’s friend Shigeru Miyamoto pitched Capsule Monsters to Nintendo, and Nintendo began funding the project. Due to copyright issues, the game had to change its name from Capsule Monsters to “Pocket Monsters,” which was shortened to Pokemon.

After six years of grueling development (Game Freak was almost driven to bankruptcy), Pokemon Red and Green were finally released in Japan on February 27th, 1996. Tajiri’s dream had become a reality, with the games featuring 151 monsters for players to capture. The concept of capturing these creatures in Pokeballs came from the Ultraman television show Ultra Seven, as the protagonist kept monsters that would help him fight in small capsules.</p>
</div>
</center>

</div>
</body>
</html>